# run the following:
#   - $sudo cp ./mathisPi.service /lib/systemd/system/
#   - $sudo chmod 644 /lib/systemd/system/mathisPi.service
# Also, make sure the ExecStart line matches where you've put the mathisPi.py file

[Unit]
Description=display system info on oled at boot
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Documents/mathisPi.py
User=pi

[Install]
WantedBy=multi-user.target

